server {
    listen 80;
    listen [::]:80;
    server_name compressvideo.weiwei.website;

    root /var/www/compressvideo.weiwei.website;
    index index.html;

    add_header Cross-Origin-Opener-Policy "same-origin" always;
    add_header Cross-Origin-Embedder-Policy "credentialless" always;
    add_header Cross-Origin-Resource-Policy "cross-origin" always;

    location / {
        try_files $uri $uri/ /index.html;
    }
}
